<com.cloudbees.jenkins.plugins.sshcredentials.impl.BasicSSHUserPrivateKey>
<scope>{{ buildfarm_credential_scope | default('GLOBAL') }}</scope>
  <id>{{ buildfarm_credential_id }}</id>
  <description>{{ buildfarm_credential_description }}</description>
  <username>{{ buildfarm_credential_username | default('jenkins') }}</username>
  <privateKeySource class="com.cloudbees.jenkins.plugins.sshcredentials.impl.BasicSSHUserPrivateKey$DirectEntryPrivateKeySource">
    <privateKey>{{ credential_private_key }}</privateKey>
  </privateKeySource>
  <passphrase>{{ credential_passphrase | default('') }}</passphrase>
</com.cloudbees.jenkins.plugins.sshcredentials.impl.BasicSSHUserPrivateKey>
